@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --font: 'Inter', 'sans-serif';
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mainContainer {
    height: 100vh;
    width: 100vw;
    background-image: url('./Images/qrBg.jpeg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainContainer.opacity {
    opacity: 0.4;
}

.sidebar, .homeContainer {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.textContainer{
     font-size: 2em
}

.homeContainer{
    
}

.sidebar img {
    width: 15%;
    margin: 0 20px;
}

.sidebar .textContainer h1, p {
    font-family: var(--font);
    margin-bottom: 5px;
    color: #ffffff;
}

.home {
    height: 200px;
    width: 50%;
    background-color: #3289c7d6;
    box-shadow: 0 10px 100px rgba(36, 204, 238, 0.996);
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    backdrop-filter: blur(8px);           /* Add this line */
    -webkit-backdrop-filter: blur(8px);
}

.home h2 {
    font-family: var(--font);
}

#qrInput {
    height: 25px;
    width: 80%;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.012);
    margin: 15px 0 25px;
    padding: 7px;
    font-size: 16px;
    font-family: var(--font);
}

#generateBtn, #downloadBtn, #closeBtn {
    height: 35px;
    width: 85%;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: var(--font);
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s;
}

#generateBtn {
    background-color: #3289c7d6;
    box-shadow: 0px 0px 10px 10px #ffffff39;
}

#generateBtn:hover, #downloadBtn, #closeBtn {
    transform: scale(1.01);
}

#qrPopup {
    height: 450px;
    width: 300px;
    background-color: black;
    position: absolute;
    bottom: 60%;
    border-radius: 10px;
    box-shadow: 0 5px 10px #212121;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(0);
    transition: transform 0.1s ease-in-out,
                opacity 0.1s,
                bottom 0.1s ease-in-out;
}

#qrPopup.show {
    transform: scale(1);
    opacity: 1;
    bottom: 15%;
}

#qrImg {
    width: 70%;
    border: 8px solid white;
    border-radius: 5px;
    margin: 20px 0 25px;
}

#qrPopup h2 {
    color: white;
    font-family: var(--font);
}

#downloadBtn {
    width: 70%;
    background-color: #fff;
    color: black;
    margin: 3px 0;
}

#closeBtn {
    width: 70%;
    border: 1px solid white;
    margin: 3px 0;
}